# Goreleaser
/dist/
/.github/release-notes.md

# Build
/billing-collector-cloudservices
*.out
/component/compiled
/component/vendor
.work/

# Docs
/.cache/
/.public/
/node_modules/

# Configuration
env
.env
