# VSCode
.vscode/

# Goreleaser
/dist/
/.github/release-notes.md

# Build
/billing-collector-cloudservices
*.out
/component/compiled
/component/vendor
.work/

# Docs
/.cache/
/.public/
/node_modules/

# Configuration
env
.env

__debug*

# Golden test that may contain live API keys for local testing
fromenv/
