# Goreleaser
/dist/
/.github/release-notes.md

# Build
# TODO: Adjust binary file name
/exoscale-metrics-collector
*.out
/component/compiled
/component/vendor

# Docs
/.cache/
/.public/
/node_modules/

# Configuration
env
