---
version: 2
interactions:
    - id: 0
      request:
        host: api-at-vie-1.exoscale.com
        body: ""
        form: {}
        headers:
        url: https://api-at-vie-1.exoscale.com/v2/dbaas-service
        method: GET
      response:
        body: '{"dbaas-services":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Exo-Cm-Hash:
                - fa090b3af8b19f68b7ffe515ecedefef
        status: 200 OK
        code: 200
        duration: 434.543722ms
    - id: 1
      request:
        host: api-bg-sof-1.exoscale.com
        body: ""
        form: {}
        headers:
        url: https://api-bg-sof-1.exoscale.com/v2/dbaas-service
        method: GET
      response:
        body: '{"dbaas-services":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Exo-Cm-Hash:
                - fa090b3af8b19f68b7ffe515ecedefef
        status: 200 OK
        code: 200
        duration: 583.182453ms
    - id: 2
      request:
        host: api-de-fra-1.exoscale.com
        body: ""
        form: {}
        headers:
        url: https://api-de-fra-1.exoscale.com/v2/dbaas-service
        method: GET
      response:
        body: '{"dbaas-services":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Exo-Cm-Hash:
                - fa090b3af8b19f68b7ffe515ecedefef
        status: 200 OK
        code: 200
        duration: 343.039076ms
    - id: 3
      request:
        host: api-de-muc-1.exoscale.com
        body: ""
        form: {}
        headers:
        url: https://api-de-muc-1.exoscale.com/v2/dbaas-service
        method: GET
      response:
        body: '{"dbaas-services":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Exo-Cm-Hash:
                - fa090b3af8b19f68b7ffe515ecedefef
        status: 200 OK
        code: 200
        duration: 320.844367ms
    - id: 4
      request:
        host: api-ch-gva-2.exoscale.com
        body: ""
        form: {}
        headers:
        url: https://api-ch-gva-2.exoscale.com/v2/dbaas-service
        method: GET
      response:
        body: |
          {
            "dbaas-services": [
              {
                "name": "pg-example-project",
                "type": "pg",
                "plan": "hobbyist-2"
              },
              {
                "name": "mysql-example-project",
                "type": "mysql",
                "plan": "hobbyist-2"
              },
              {
                "name": "opensearch-example-project",
                "type": "opensearch",
                "plan": "hobbyist-2"
              },
              {
                "name": "redis-example-project",
                "type": "redis",
                "plan": "hobbyist-2"
              },
              {
                "name": "kafka-example-project",
                "type": "kafka",
                "plan": "startup-2"
              },
              {
                "name": "pg-expensive-example-project",
                "type": "pg",
                "plan": "premium-225"
              },
              {
                "name": "pg-next-big-thing",
                "type": "pg",
                "plan": "business-225"
              }
            ]
          }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Exo-Cm-Hash:
                - fa090b3af8b19f68b7ffe515ecedefef
        status: 200 OK
        code: 200
        duration: 377.829712ms
    - id: 5
      request:
        host: api-ch-dk-2.exoscale.com
        body: ""
        form: {}
        headers:
        url: https://api-ch-dk-2.exoscale.com/v2/dbaas-service
        method: GET
      response:
        body: '{"dbaas-services":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Exo-Cm-Hash:
                - fa090b3af8b19f68b7ffe515ecedefef
        status: 200 OK
        code: 200
        duration: 370.973634ms
