---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudscale.ch
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudscale.ch/v1/metrics/buckets?start=2023-01-11&end=2023-01-11
        method: GET
      response:
        body: |
            {
              "start": "2023-01-10T23:00:00Z",
              "end": "2023-01-11T23:00:00Z",
              "data": [
                {
                  "subject": {
                    "name": "example-project-a",
                    "objects_user_id": "a"
                  },
                  "time_series": [
                    {
                      "start": "2023-01-10T23:00:00Z",
                      "end": "2023-01-11T23:00:00Z",
                      "usage": {
                        "requests": 100000,
                        "object_count": 1000000,
                        "storage_bytes": 1000000000000,
                        "received_bytes": 0,
                        "sent_bytes": 50000000000
                      }
                    }
                  ]
                },
                {
                  "subject": {
                    "name": "example-project-b",
                    "objects_user_id": "b"
                  },
                  "time_series": [
                    {
                      "start": "2023-01-10T23:00:00Z",
                      "end": "2023-01-11T23:00:00Z",
                      "usage": {
                        "requests": 1,
   [...]
