---
version: 2
interactions:
    - id: 0
      request:
        host: api-ch-gva-2.exoscale.com
        body: ""
        form: {}
        headers:
        url: https://api-ch-gva-2.exoscale.com/v2/sos-buckets-usage
        method: GET
      response:
        body: |
          {
            "sos-buckets-usage": [
              {
                "name": "example-project-a",
                "created-at": "2023-01-01T09:42:00+00:00",
                "zone-name": "ch-gva-2",
                "size": 1000000000000
              },
              {
                "name": "example-project-b",
                "created-at": "2023-01-01T09:42:00+00:00",
                "zone-name": "ch-gva-2",
                "size": 1000000000
              },
              {
                "name": "next-big-thing-a",
                "created-at": "2023-01-01T09:42:00+00:00",
                "zone-name": "ch-gva-2",
                "size": 0
              },
              {
                "name": "not-mapped",
                "created-at": "2023-01-01T09:42:00+00:00",
                "zone-name": "ch-gva-2",
                "size": 12345567889
              }
            ]
          }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Exo-Cm-Hash:
                - fa090b3af8b19f68b7ffe515ecedefef
        status: 200 OK
        code: 200
        duration: 121.733547ms
